body {
    padding: 0;
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;

    background-image: url('../img/background.jpg');
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    box-sizing: border-box;

}

header {
    margin-top: 10px;

    width: 30%;

    background-color: rgba(255,255,255,0.2);

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

}

header h1 {
    color: rgb(255, 230, 0);
    letter-spacing: 10px;
    text-align: center;
    font-size: 40px;
}

#main-container {
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

}

#info-container {
    width: 20%;
    height: 750px;

    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

    background-color: rgba(255, 255, 255, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    color: rgb(255, 230, 0);
}

#description {
    text-align: center;
}

#rules {
    text-align: center;
}

canvas {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);;
}

#control-container {
    color: rgb(255, 230, 0);
    text-align: center;
    
    width: 20%;
    height: 750px;

    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;

    background-color: rgba(255, 255, 255, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


